html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 18px;
  line-height: 1.42857143;
}

img {
  max-width: 100%;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

.roboto, body, .btn, .form input {
  font-family: 'Roboto', sans-serif;
}

.regular, body, .form input {
  font-weight: 400;
}

.light, .title {
  font-weight: 300;
}

.bold, .nav__text, .btn, .title-big, .modal__title {
  font-weight: 700;
}

.black, strong, .strong, b, .b {
  font-weight: 900;
}

/* ===================== 
Start: COLUMNS      
======================== */
.xs-1 {
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.xs-2 {
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

.xs-4 {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.xs-5 {
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.xs-7 {
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.xs-8 {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

.xs-10 {
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.xs-11 {
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .sm-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .sm-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .sm-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .sm-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .sm-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .sm-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .sm-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .sm-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .md-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .md-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .md-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .md-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .md-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .md-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .md-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .md-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .lg-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .lg-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .lg-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .lg-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .lg-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .lg-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .lg-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .lg-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.hidden,
.visible-lgBiggest,
.visible-lg,
.visible-md,
.visible-sm,
.visible-xs,
.visible-exs {
  display: none !important;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
  .visible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
}

/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, .container, .cf, .tabs-wrap, .tabs-links, .tabs-content, .section, .nav__link, .header, .btn, .list li, .tabs-list a {
  position: relative;
}

.container {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .container, .form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .tabs-wrap:after, .tabs-links:after, .tabs-content:after, .cf:before, .tabs-wrap:before, .tabs-links:before, .tabs-content:before {
  content: "";
  display: table;
}

.cf:after, .tabs-wrap:after, .tabs-links:after, .tabs-content:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.ak {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.flex, .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1890px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.d-i, img, .nav__text, .btn, .form input {
  display: inline-block;
}

.nav__logo {
  font-size: 0;
}

.nav__text {
  color: #000;
}

.nav__text-links-inner {
  display: block;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .nav__text {
    text-align: right;
  }
  .nav__text-toggle, .nav__text-links-inner_hidden {
    display: none;
  }
}

.nav__btn, .nav__btn-lines, .nav__btn-lines span {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.nav__item, .nav__link {
  display: block;
}

.nav__link {
  color: inherit;
}

.nav__btn {
  margin-right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.nav__btn, .nav__btn-lines, .nav__btn-text {
  display: inline-block;
  vertical-align: middle;
}

.nav__btn-lines {
  position: relative;
  width: 24px;
  height: 20px;
}

.nav__btn-lines span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

.nav__btn-lines span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: 3px 5px;
      -ms-transform-origin: 3px 5px;
          transform-origin: 3px 5px;
}

.nav__btn-lines span:nth-child(2) {
  top: 8px;
  opacity: 1;
}

.nav__btn-lines span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: 1px -1px;
      -ms-transform-origin: 1px -1px;
          transform-origin: 1px -1px;
}

.nav__btn-text {
  margin-left: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.nav__btn.active .nav__btn-lines span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__btn.active .nav__btn-lines span:nth-child(2) {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: 0;
}

.nav__btn.active .nav__btn-lines span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .nav_fixed, .nav_fixed .nav__menu {
    position: fixed;
    left: 0;
    background-color: #3949ab;
  }
  .nav_fixed + .main-wrapper {
    margin-top: 55px;
  }
  .nav_fixed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 56px;
    left: 0;
    top: 0;
    padding: 11px 0;
    z-index: 10;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  }
  .nav_fixed .nav__container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .nav_fixed .nav__menu {
    width: 270px;
    height: 100%;
    padding: 0 0 100px 0;
    top: 56px;
    z-index: 1;
    overflow-y: auto;
    -webkit-transform: translateZ(0) translateX(-120%);
            transform: translateZ(0) translateX(-120%);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .nav_fixed .nav__menu_active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .nav_fixed .nav__item {
    margin-bottom: 15px;
  }
  .nav_fixed .nav__item_active {
    background-color: #3f51be;
  }
  .nav_fixed .nav__link {
    padding: 15px;
    color: #fff;
  }
  .nav_fixed .nav__text {
    text-align: right;
  }
  .nav_fixed .nav__text:after {
    content: "";
    position: absolute;
    right: 0;
    top: -13px;
    height: 55px;
    width: 55px;
    background-color: #2f3c8f;
    z-index: -1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
  }
  .nav_fixed .nav__text-links {
    position: absolute;
    top: 42px;
    right: 0;
    min-width: 180px;
    padding: 15px;
    background-color: #5E34AA;
    -webkit-transform: translateZ(0) translateX(120%);
            transform: translateZ(0) translateX(120%);
    font-size: 14px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .nav_fixed .nav__text-toggle span {
    background-color: white;
  }
  .nav_fixed .nav__text-toggle {
    display: block;
    cursor: pointer;
  }
  .nav_fixed .nav__text-toggle span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  .nav_fixed .nav__text-toggle span:last-child {
    margin-right: 0;
  }
  .nav_fixed .nav__logo img {
    vertical-align: middle;
    max-height: 28px;
  }
  .nav_fixed .nav__text.active:after {
    opacity: 1;
  }
  .nav_fixed .nav__text.active .nav__text-links {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (min-width: 1025px) {
  .nav__item {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 5px;
  }
  .nav__link:after {
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-color: #66fcf1;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }
  .nav__link:hover:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav__btn {
    display: none;
  }
}

.header {
  min-height: 50px;
  z-index: 1;
  color: #fff;
  padding: 50px 0;
  background-color: #ddd;
}

.footer {
  padding: 10px 15px;
  background-color: #131313;
}

.transition, .nav__link:after, .btn, .btn:before, .form input, .tabs-list a, .tabs-list a:after {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.pseudo, .nav__link:after, .btn:before, .list li:after, .tabs-list a:after {
  content: "";
  position: absolute;
}

.ertical-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ertical-image img {
  max-height: 100%;
  vertical-align: middle;
}

.size-zero {
  font-size: 0;
}

.outline-none, .nav__text-toggle, .nav__btn, .btn, .form input {
  outline: none;
}

.tap-transparent, .nav__text-toggle, .nav__btn, .btn {
  -webkit-tap-highlight-color: transparent;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.btn {
  min-width: 90px;
  max-width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  z-index: 1;
  font-size: 14px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.btn:before {
  z-index: -1;
}

.btn_skew:before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn_skew:hover:before {
  height: -webkit-calc(450% - 40px);
  height: calc(450% - 40px);
  opacity: 1;
}

.btn-bgtransition:before, .btn_shutter:before, .btn_shutterVerticalOut:before, .btn_shutterHorizontalOut:before, .btn_bounce:before, .btn_bounceTop:before, .btn_bounceBottom:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn_shutterVerticalOut:before, .btn_bounce:before, .btn_bounceTop:before, .btn_bounceBottom:before {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}

.btn_shutterVerticalOut:hover:before, .btn_bounce:hover:before, .btn_bounceTop:hover:before, .btn_bounceBottom:hover:before {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.btn_shutterHorizontalOut:before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.btn_shutterHorizontalOut:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.btn_bounce:hover:before, .btn_bounceTop:hover:before, .btn_bounceBottom:hover:before {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn_bounceTop:before {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
}

.btn_bounceBottom:before {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
}

.btn_main {
  background-color: #66fcf1;
}

.btn_main:before {
  background-color: #b1fdf8;
}

.btn_single {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .btn_single {
    margin-top: 70px;
  }
}

.form {
  width: 100%;
}

@media (min-width: 768px) {
  .form-fixed-width {
    width: 300px;
  }
}

.form input {
  text-align: left;
  width: 100%;
  max-width: 100%;
  color: #000;
  font-size: 15px;
  -webkit-appearance: none;
}

.form [type="submit"] {
  width: 100%;
}

.form__row {
  position: relative;
  margin-top: 15px;
}

.form__row:first-child {
  margin-top: 0;
}

.form input {
  padding: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #ddd;
}

.list li:after {
  top: 0;
}

.list_cancel li {
  padding-left: 30px;
}

.list_cancel li:after {
  left: 0;
  width: 37px;
  height: 37px;
}

.collapse {
  margin-bottom: 30px;
}

.collapse-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.collapse-wrap > .collapse-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.collapse-header {
  cursor: pointer;
  padding: 15px;
  background-color: #ddd;
}

.collapse-body {
  margin-top: 7.5px;
  display: none;
}

.collapse.active .collapse-header {
  background-color: #f00;
}

.loader, .loader__section {
  position: fixed;
  top: 0;
  height: 100%;
}

.loader {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
  z-index: 1000;
}

.loader_active {
  overflow: hidden;
  padding-right: 17px;
}

.loader__section {
  width: 50%;
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader__section_left {
  left: 0;
  background-color: #6A79D5;
}

.loader__section_right {
  right: 0;
  background-color: #8D66D5;
}

@-webkit-keyframes loader__rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader__rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader__inner, .loader__bar, .loader__spin {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.loader__center, .loader__bar {
  position: absolute;
}

.loader__inner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

.loader__center {
  width: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.loader__bar {
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #000;
}

.loader__text {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-size: 70px;
}

.loader__spin {
  position: relative;
  display: inline-block;
}

.loader__spin_simple {
  width: 75px;
  height: 75px;
  border: 10px solid #000;
  border-top-color: #fff;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-animation: loader__rotate 2s linear infinite;
          animation: loader__rotate 2s linear infinite;
}

.loader__spin_threeCirclesRotate {
  display: block;
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-top-color: #7608AA;
  -webkit-animation: loader__rotate 2s linear infinite;
          animation: loader__rotate 2s linear infinite;
}

.loader__spin_threeCirclesRotate, .loader__spin_threeCirclesRotate:after, .loader__spin_threeCirclesRotate:before {
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.loader__spin_threeCirclesRotate:after, .loader__spin_threeCirclesRotate:before {
  content: "";
  position: absolute;
  border: 3px solid transparent;
}

.loader__spin_threeCirclesRotate:before {
  border-top-color: #98ED00;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -webkit-animation: loader__rotate 3s linear infinite;
          animation: loader__rotate 3s linear infinite;
}

.loader__spin_threeCirclesRotate:after {
  border-top-color: #FFD600;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  -webkit-animation: loader__rotate 1.5s linear infinite;
          animation: loader__rotate 1.5s linear infinite;
}

.loader__spin_threeCirclesOpacity {
  width: 150px;
  height: 150px;
  border-color: transparent;
}

.loader__spin_threeCirclesOpacity, .loader__spin_threeCirclesOpacity:before, .loader__spin_threeCirclesOpacity:after, .loader__spin_threeCirclesOpacity span {
  border-width: 4px;
  border-style: solid;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.loader__spin_threeCirclesOpacity:before, .loader__spin_threeCirclesOpacity:after, .loader__spin_threeCirclesOpacity span {
  top: 50%;
  left: 50%;
}

@-webkit-keyframes loader-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.loader__spin_threeCirclesOpacity:before, .loader__spin_threeCirclesOpacity:after {
  content: "";
  position: absolute;
  -webkit-animation: loader-scale 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: loader-scale 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.loader__spin_threeCirclesOpacity:before {
  width: 110%;
  height: 110%;
  margin: -55%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  border-color: #FFCF00;
}

.loader__spin_threeCirclesOpacity:after {
  width: 100%;
  height: 100%;
  margin: -50%;
  border-color: #0053EC;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader__spin_threeCirclesOpacity span {
  position: absolute;
  width: 30%;
  height: 30%;
  margin: -15%;
  border-color: #FF6C00;
  -webkit-animation: loader-scale 1s ease-out infinite;
          animation: loader-scale 1s ease-out infinite;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.loader__circles {
  width: 150px;
  height: 150px;
}

.loader__circles, .loader__circles div {
  padding: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid transparent;
  -webkit-animation: loader_rotate 3.5s linear infinite;
          animation: loader_rotate 3.5s linear infinite;
}

@-webkit-keyframes loader_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader__circles div:hover, .loader__circles:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.loader__circles div {
  height: 100%;
}

.loader__circles_1,
.loader__circles_1 div {
  border-top-color: #131F6F;
  border-left-color: #F9C33A;
  border-right-color: white;
}

.loader__cube {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-color: #fdfdfd;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-animation: loader__cube_opacity 1.5s step-end infinite, loader__cube_bg 1s linear infinite;
          animation: loader__cube_opacity 1.5s step-end infinite, loader__cube_bg 1s linear infinite;
}

@-webkit-keyframes loader__cube_opacity {
  0%, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}

@keyframes loader__cube_opacity {
  0%, 40% {
    opacity: 0;
  }
  41%, to {
    opacity: 1;
  }
}

@-webkit-keyframes loader__cube_bg {
  0%, 40% {
    background-color: #fdfdfd;
  }
  41%, to {
    background: #dadada;
  }
}

@keyframes loader__cube_bg {
  0%, 40% {
    background-color: #fdfdfd;
  }
  41%, to {
    background: #dadada;
  }
}

.loader__cube:nth-child(2) {
  -webkit-transform: translate(42.5px, 0);
      -ms-transform: translate(42.5px, 0);
          transform: translate(42.5px, 0);
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
}

.loader__cube:nth-child(3) {
  -webkit-transform: translate(85px, 0);
      -ms-transform: translate(85px, 0);
          transform: translate(85px, 0);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader__cube:nth-child(4) {
  -webkit-transform: translate(0, 42.5px);
      -ms-transform: translate(0, 42.5px);
          transform: translate(0, 42.5px);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader__cube:nth-child(5) {
  -webkit-transform: translate(42.5px, 42.5px);
      -ms-transform: translate(42.5px, 42.5px);
          transform: translate(42.5px, 42.5px);
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
}

.loader__cube:nth-child(6) {
  -webkit-transform: translate(85px, 42.5px);
      -ms-transform: translate(85px, 42.5px);
          transform: translate(85px, 42.5px);
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.loader__cube:nth-child(7) {
  -webkit-transform: translate(0, 85px);
      -ms-transform: translate(0, 85px);
          transform: translate(0, 85px);
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}

.loader__cube:nth-child(8) {
  -webkit-transform: translate(42.5px, 85px);
      -ms-transform: translate(42.5px, 85px);
          transform: translate(42.5px, 85px);
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader__cube:nth-child(9) {
  -webkit-transform: translate(85px, 85px);
      -ms-transform: translate(85px, 85px);
          transform: translate(85px, 85px);
}

.loader__cube-wrap {
  width: 117px;
  height: 117px;
  font-size: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.loaded .loader {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.loaded .loader__inner {
  opacity: 0;
}

.loaded .loader__section_left {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.loaded .loader__section_right {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.title {
  margin-bottom: 60px;
  line-height: 1;
  font-size: 40px;
}

@media (min-width: 1025px) {
  .title {
    font-size: 60px;
  }
}

.title-small {
  margin: 12px 0;
  font-size: 17px;
}

@media (min-width: 768px) {
  .title-small {
    font-size: 30px;
  }
}

.title-big {
  line-height: 1.1;
  font-size: 48px;
  margin: 24px 0;
}

@media (min-width: 480px) {
  .title-big {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .title-big {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  .title-big {
    font-size: 100px;
  }
}

@media (min-width: 768px) {
  .title-big {
    margin-bottom: 60px;
  }
}

@media (min-width: 1025px) {
  .title {
    margin-bottom: 75px;
  }
}

.text-tu, .btn, .title {
  text-transform: uppercase;
}

.text-du {
  text-decoration: underline;
}

.text-dn, .nav__link, .btn {
  text-decoration: none;
}

.text-center, .title {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#toggleBlock {
  position: relative;
  display: none;
}

.modal, .modal_showing, .modal__overlay, .modal__box {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal, .modal_showing, .modal__overlay {
  opacity: 0;
  visibility: hidden;
}

.modal_showing_in {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  padding: 30px 15px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.modal_center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__overlay {
  z-index: 999;
  background-color: rgba(46, 46, 46, 0.8);
}

.modal__box {
  position: relative;
  padding: 40px 15px 30px;
  background-color: white;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.modal__close {
  display: block;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.modal__close:hover {
  color: #ED2553;
}

.modal__title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 7.5px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.3;
  color: #000;
}

.modal__title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 25%;
  height: 2px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ED2553;
}

.modal__body {
  font-size: 15px;
  color: #616161;
}

.modal__inner {
  max-height: 60vh;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.modal__inner p {
  margin-bottom: 15px;
}

.modal__inner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .modal__inner {
    max-height: 350px;
  }
  .modal__inner::-webkit-scrollbar {
    width: 7.5px;
  }
  .modal__inner::-webkit-scrollbar-track {
    background-color: #ddd;
  }
  .modal__inner::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}

.modal__content {
  display: none;
}

.modal_transparent .modal__box {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.modal_transparent .modal__close {
  color: #fff;
}

.modal_transparent .modal__title {
  color: #ED2553;
}

.modal__video {
  margin-top: 30px;
}

.modal__iframe {
  display: block;
  width: 100%;
  min-height: 300px;
}

@media (min-width: 480px) {
  .modal_default {
    width: 460px;
  }
  .modal__title {
    font-size: 18px;
    letter-spacing: 2.5px;
  }
  .modal__box {
    padding: 48px 24px;
  }
}

@media (max-width: 767px) {
  .modal {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .modal_big {
    width: 600px;
    margin: 30px auto;
  }
  .modal_transparent .modal__close {
    top: -15px;
    font-size: 60px;
  }
}

.tabs-links {
  margin-bottom: 45px;
  text-align: center;
}

.tabs-list {
  display: inline-block;
  font-size: 0;
}

.tabs-list a {
  display: block;
  min-width: 150px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.tabs-list a:after {
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(-7.5px);
      -ms-transform: translateY(-7.5px);
          transform: translateY(-7.5px);
}

.tabs-list li {
  display: block;
}

.tabs-list a:hover, .tabs-list li.active a {
  color: #66fcf1;
}

.tabs-list a:hover:after, .tabs-list li.active a:after {
  background-color: #b1fdf8;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.tabs-content-inner {
  display: none;
}

.tabs-content-inner.active {
  display: block;
}

@media (min-width: 768px) {
  .tabs-list {
    padding-bottom: 10px;
    border-bottom: 5px solid #f3f3f3;
  }
  .tabs-list li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .tabs-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
